.main_background{
    height: 100%;
    width: 100%;
    background: linear-gradient(118.42deg, #003445 1.66%, #000B0F 99.12%);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-family: 'LemonMilk';
}

  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
.main_background img{
    max-width: 200px;
    width: 100%;
    height: 357px;
}

.second_para{
    color: #EEEEEE;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
}


@media (max-width: 576px) {
    .main_background img{
        max-width: 576px;
        width: 100%;
        height: 230px;
    }
    .second_para{
        font-size: 15px;
        line-height: 18px;
    }
}

@media (max-width: 786px) and (min-width: 576px) {
    .main_background img{
        max-width: 786px;
        width: 150%;
        height: 256px;
    }
    .second_para{
        font-size: 20px;
        line-height: 19px;
    }
}