.about-us-main{
    height: 580px;
    background: #003445;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.aboutWidth{
    width: 1190px;
    margin: 0 auto;
}
.about-content{
    font-size: 18px;
    line-height: 32px;
    color: #e5e5e5;
    padding: 0px 25px 0px 0px;
}
.aboutHeading{
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    display: flex;
    align-items: center;
    letter-spacing: 1.5px;
    color: #FFFFFF;
}
.about-towel{
    background-color: #fff;
    width: 538px;
    height: 538px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
}

.image-position{
  height: 446px;
}

.button-style{
    background: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

@media (max-width: 576px) and (min-width: 300px) {
    .aboutWidth{
        max-width: 576px;
        width: 100%;
    }
    .about-us-main{
        padding: 0px 20px;
height: 736px;
    }
    .collFirstContent{
        margin-bottom: 40px;
    }
    .about-towel{
        width: 323px;
        height: 323px;
    }
    .aboutHeading{
        font-size: 36px;    
        justify-content: center;
    }
    .about-content{
        font-size: 16px;
        color: #ffffff;
        padding: 0px;
    text-align: center;
    }
    .image-position{
        height: 235px;
        width: 100%;
    }
    .read-more{
        display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    }
}
/* @media (max-width: 786px) and (min-width: 576px) {
    .aboutWidth{
        max-width: 576px;
        width: 100%;
    }
    .about-us-main{
        padding: 40px 20px;

    }
    .about-towel{
        width: 323px;
        height: 323px;
    }
    .aboutHeading{
        font-size: 36px;    
    }
    .about-content{
        font-size: 16px;
        color: #ffffff;
    }
    .image-position{
        max-width: 235px;
        width: 100%;
    }
    .read-more{
        display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    }
} */
@media (max-width: 992px) and (min-width: 576px) {
    .aboutWidth{
        max-width: 890px;
        width: 100%;
    }
    .about-us-main{
        padding: 0px;
height: 736px;
    }
    .about-towel{
        width: 323px;
        height: 323px;
    }
    .aboutHeading{
        font-size: 48px;    
    }
    .about-content{
        font-size: 16px;
        color: #ffffff;
        padding: 0px;
        margin: 0px 140px;
    }
    .image-position{
        height: 300px;
    }
    .collFirstContent{
        margin-bottom: 40px;
        display: flex;
    align-items: center;
    justify-content: center;
    }
    .collSecondContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .read-more{
        margin-top: 20px;
        display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    }
}
@media (max-width: 1200px) and (min-width: 992px) {
    .aboutWidth{
        max-width: 860px;
        width: 100%;
        margin: 0 auto;
    }
    .about-us-main{
        padding: 40px 20px;

    }
    .about-towel{
        width: 323px;
        height: 323px;
    }
    .aboutHeading{
        font-size: 58px;  
    }
    .about-content{
        font-size: 18px;
        color: #ffffff;
    }
    .image-position{
        max-width: 300px;
        width: 100%;
    }
    /* .read-more{
        display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    } */
}
@media (min-width: 1200px) and (max-width: 1800px) {
    .about-us-main{
        
        align-items: center;
        justify-content: center;
  
    display: flex;
    }
    .aboutWidth{
        max-width: 1100px;
    }
}

