.getInTouchContainer{
    height: 580px;
    background-color: #003445;
    display: flex;
    align-items: center;
}
.main-style{
    width: 1190px;
    margin: 0 auto;
}

/* .get-in-touch-col{
    padding-left: 95px;
} */

.get-in-touch{
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    display: flex;
    align-items: center;
    letter-spacing: 1.5px;
    color: #FFFFFF;
}

.sub-para{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    letter-spacing: -1.5px;
    color: #FFFFFF;
}

.Connect-with-Us{
    width: 259.89px;
    height: 48px;
    background: #F5FCFF;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-family: 'Inter', sans-serif;
    margin-top: 30px;
    border: none;
    color: #003445;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 1px;
}

@media (max-width: 576px) and (min-width: 300px) {
    
    .main-style{
        max-width: 576px;
        height: 600px;
        width: 100%;
    }
    .main-style img{
        height: 235px;
    }
    .get-in-touch-col{
        text-align: center;
        padding-left: 0px;
    }
    .get-in-touch{
        font-size: 36px;
    justify-content: center;
    }
    .sub-para{
        font-size: 20px;
    letter-spacing: 0.5px;
    justify-content: center;
    }
    .Connect-with-Us{
        width: 228px;
    height: 40px;
    font-size: 16px;
    }
}
@media (max-width: 786px) and (min-width: 576px) {
    .main-style{
        max-width: 576px;
        height: 600px;
        width: 100%;
    }
    .main-style img{
        height: 235px;
    }
    .get-in-touch-col{
        text-align: center;
        padding-left: 0px;
    }
    .get-in-touch{
        font-size: 36px;
    justify-content: center;
    }
    .sub-para{
        font-size: 20px;
    letter-spacing: 0.5px;
    justify-content: center;
    }
    .Connect-with-Us{
        width: 228px;
    height: 40px;
    font-size: 16px;
    }
}
@media (max-width: 992px) and (min-width: 786px) {
    .main-style{
        max-width: 890px;
        width: 100%;
    }
    .main-style img{
        height: 235px;
    }
    .get-in-touch-col{
        text-align: center;
        padding-left: 0px;
    }
    .get-in-touch{
        font-size: 36px;
    justify-content: center;
    }
    .sub-para{
        font-size: 20px;
    letter-spacing: 0.5px;
    justify-content: center;
    }
    .Connect-with-Us{
        width: 228px;
    height: 40px;
    font-size: 16px;
    }
}
@media (max-width: 1200px) and (min-width: 992px) {
    .main-style{
        max-width: 860px;
        width: 100%;
    }
    .get-in-touch{
        font-size: 58px;
    }
    .sub-para{
        font-size: 24px;
    letter-spacing: 0.5px;
    }
    .Connect-with-Us{
        width: 228px;
    height: 40px;
    font-size: 16px;
    }
}
@media (max-width: 1800px) and (min-width: 1200px) {
    .main-style{
        max-width: 1100px;
        
    }

}