.main-collection{
    height: 700px;
    display: flex;
}

.img-style{
    width: 540px;
}

.featured-collection{
    padding-top: 50px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #999999;
    margin-bottom: 0px;
}

.customized-goods{
    display: flex;
    margin: 30px 0px;
    justify-content: center;
    align-items: center;
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 77px;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #111111;
}

.text-content{
    display: flex;
    justify-items: center;
    align-items: center;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #18191F;
}

.view-button{
    width: 237px;
    font-family: 'Inter', sans-serif;
    height: 48px;
    margin-top: 30px;
    border: none;
    background: #003445;
    border-radius: 30px;
    color: #FFFFFF;
    box-shadow: 2px 2px 5px 2px #0000002e;
}


@media (max-width: 576px) {
    .img-style{
        max-width: 576px;
        width: 100%;
        justify-content: center;
        margin-top: 30px;
    }
    .featured-collection{
text-align: center;
        font-size: 12px;
    }
    .customized-goods{
        margin: 0px;
        font-size: 36px;
    }
    .text-content{
        text-align: center;
        font-size: 16px;
    }
    .view-button-container{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 786px) and (min-width: 576px) {
    .img-style{
        max-width: 576px;
        width: 100%;
        justify-content: center;
        margin-top: 30px;
    }
    .featured-collection{
text-align: center;
        font-size: 12px;
    }
    .customized-goods{
        margin: 0px;
        font-size: 36px;
    }
    .text-content{
        text-align: center;
        font-size: 16px;
    }
     .view-button-container{
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 992px) and (min-width: 786px) {
    .img-style{
        max-width: 576px;
        width: 100%;
        justify-content: center;
        margin-top: 30px;
    }
    .featured-collection{
text-align: center;
        font-size: 12px;
    }
    .customized-goods{
        margin: 0px;
        font-size: 36px;
    }
    .text-content{
        text-align: center;
        font-size: 16px;
    }
     .view-button-container{
        display: flex;
        justify-content: center;
    }
}