.infraMainContainer{
    width: 100%;
    position: relative;
}
.infraHeading, .infraHeading1{
    font-weight: 700;
font-size: 48px;
line-height: 40px;
font-family: 'Inter', sans-serif;
color: #003445;
}
.infraVideo{
    /* width: 1190px; */
    margin: 0 auto;
    padding: 150px 0px 100px 0px;
}
.infraImg{
    position: absolute;
    top: 116px;
    right: 20px;
    z-index: -1;
}
.infraInfo{
    margin: 30px 0px;
    font-family: 'Inter', sans-serif;
    width: 550px;
    font-weight: 600;
font-size: 16px;
line-height: 20px;
letter-spacing: 1px;
color: #003445;
}
.infraImageDetail{
    /* margin: 30px 0px; */
    font-family: 'Inter', sans-serif;
    /* width: 550px; */
    font-weight: 600;
font-size: 16px;
line-height: 30px;
letter-spacing: 1px;
color: #003445;
}
.infraGif iframe{
    width: 100%;
    height: 450px;
    border-radius: 25px;
}
.infraGif img{
    width: 100%;
    border-radius: 25px;
}
.infraMachineInfo{
    height: 550px;
    background-color: #F5FCFF;
    display: flex;
    align-items: center;
}
.infraMachineInfo1{
    height: 500px;
    background-color: #fff;
    display: flex;
    align-items: center;
}
.infraDetails img{
    width: 466px;
    filter: drop-shadow(0px 30px 40px rgba(0, 0, 0, 0.25));
border-radius: 4px;
}
.infraDetails{
    margin: 0 auto;
}
.slick-next, .slick-prev{
    transform: translate(-180%,-50%);
}
.slick-slide img{
    /* max-width: 340px; */
    /* width: 93%; */
    /* margin-right: 10px; */
    border-radius: 10px;
    /* height: 227px; */
    height: 100%;
    /* margin: 0px 10px; */
}
.slick-slide{
 
    margin-right: 10px;
    border-radius: 10px;
  
}
.slick-slide:first-child{
    margin-left: 10px;
}
.slick-list{
    height: 210px;
}


@media (max-width: 576px) and (min-width: 300px) {
    
    .infraVideo, .infraDetails{
        max-width: 576px;
       
        width: 100%;
    }
    .infraImg img{
        width: 150px;
    }
    .infraInfo{
        max-width: 382px;
        width: 100%;
    }
    .infraImg{
        top: 66px;
    }
    .infraVideo{
   
        padding: 112px 25px 100px 25px;;
    }
    .infraMachineCol ,.infraMachineCol1{
        display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 34px;
    }
    .infraMachineInfo, .infraMachineInfo1{
        height: 740px;
    }
.infraImageDetail{
    text-align : center;
}
.infraHeading1{
    font-size:36px;
    text-align: center;

}
.infraHeading{
    font-size:36px;
    
}
.infraDetails img{
    width: 366px;
    border-radius: 10px;
}
.infraGif iframe{
    height: 225px;
    margin-top: 46px;
}
/* .slick-slide img{
    max-width: 186px;
    height: 124px;
    width: 100%;
} */
}
@media (max-width: 786px) and (min-width: 576px) {
    .infraVideo, .infraDetails{
        max-width: 890px;
        width: 100%;
    }
    .infraInfo{
        width: 382px;
      }
 
    .infraImg img{
        width: 150px;
    }
    .infraImg{
        top: 66px;
    }
    .infraVideo{
        padding: 112px 25px 100px 25px;;
    }
    .infraMachineCol,.infraMachineCol1{
        display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 34px;
    }
    .infraMachineInfo1, .infraMachineInfo{
        height: 740px;
    }
    .infraImageDetail{
        text-align : center;
    }
    .infraHeading1{
        font-size:36px;
        text-align: center;
    }
    .infraHeading{
        font-size:36px;
        
    }
    .infraDetails img{
    width: 366px;
    border-radius: 10px;
}
.infraGif iframe{
    height: 225px;
    margin-top: 46px;
}
/* .slick-slide img{
    max-width: 182px;
    height: 121px;
    width: 100%;
} */
}
@media (max-width: 992px) and (min-width: 786px) {
    .infraVideo, .infraDetails{
        max-width: 890px;
        width: 100%;
    }
    .infraInfo{
        width: 382px;
      }
 
    .infraImg img{
        width: 150px;
    }
    .infraImg{
        top: 112px;
    }
    .infraVideo{
        padding: 112px 25px 100px 25px;;
    }
    .infraMachineCol,.infraMachineCol1{
        display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 34px;
    }
    .infraMachineInfo1, .infraMachineInfo{
        height: 740px;
    }
    .infraImageDetail{
        text-align : center;
    }
    .infraHeading1{
        font-size:36px;
        text-align: center;
    }
    .infraHeading{
        font-size:36px;
        
    }
    .infraDetails img{
    width: 366px;
    border-radius: 10px;
}
.infraGif iframe{
    height: 225px;
    margin-top: 46px;
}
/* .slick-slide img{
    max-width: 190px;
    height: 126px;
} */
}
@media (max-width: 1200px) and (min-width: 992px) {
    .infraVideo, .infraDetails{
        max-width: 860px;
        width: 100%;
    }
 
  .infraMachineCol{
    display: flex;
    align-items: center;
  }
  .infraMachineRow{
    flex-direction: row-reverse;
}
.infraMachineCol1{
    display: flex;
    justify-content: flex-end;
}
.infraDetails img{
    width: 350px;
  
}
/* .slick-slide img{
    max-width: 238px;
    height: 158px;
} */

}
@media (max-width: 1800px) and (min-width: 1200px) {
    .infraVideo, .infraDetails{
        max-width: 1100px;
        
    }
  
.infraMachineRow{
    flex-direction: row-reverse;
}
.infraMachineCol1{
    display: flex;
    justify-content: flex-end;
}   
/* .slick-slide img{
    max-width: 236px;
    height: 157px;
}  */
}