.nav{
    /* background: #003445;
    height: 100px;
    width: 100%;
    color: #fff; */
    background: rgba(0, 0, 0, 0.24);
    width: 100%;
    color: #fff;
    padding: 14px;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 100;
    /* background: linear-gradient(#00000096, #ffffff00); */
    /* background: rgb(0 0 0 / 20%); */
}

.logo_font{
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.72em;
}

.header_row{
    justify-content: center;
    align-content: center;
    width: 100%;
}

.menu_spacing{
    margin-right: 70px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
}

.menu_spacing_contact{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
}

.logo_font_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.hamberger_icon{
    display: none;
}

#home,
#aboutUs,
#products,
#infra,
#contact{
    display: block;
}
.nav a:visited {
    text-decoration: none;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}
.nav a:link{
    text-decoration: none;
    
    font-family: 'Inter', sans-serif;
}
.nav a:hover{
    font-weight: 700;
}


.menuNav {
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    top: 52px;
    background: #003445;
    right: 0;

    bottom: 0;
    height: 100vh;
    width: 0;
    overflow: hidden;
    max-width: 290px;
    z-index: 9;
    transition: all 1s ease-out;
  }
  
  .menuNav.showMenu {
    width: 100%;
    transition: all 1s ease-out;
  }
  
 .menuItemsAch{
    text-transform: capitalize;
    font-size: 16px;
    display: block;
    padding: 5px 40px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-family: 'Inter', sans-serif;
    
}

.menuItemsAch:hover{
    font-weight: 700;
    color: #fff;
}

.firstList {
    margin-top: 1rem;
}
.closeMenu{
    text-align: center;
    color: #fff;
    font-size: 24px;
    width: 24px;
    height: 24px;
    margin: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.card-body{
    padding: 20px 40px;
    
}
.card-body a{
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #6B959E;
}
.card-body a:hover{
    font-weight: 700;
    color: #003445;
}
.card .btn{
    width: 100%;
    letter-spacing: 2px;
    text-align: left;
    background: #003445;
    color: #fff;
    border: none;
    
    font-family: 'Inter', sans-serif;
    padding: 0px;
}
.card .btn:focus{
    
    box-shadow: none;
    
}
.card .btn:hover{
    
    font-weight: bold;
}
.card-header{
    background-color: rgb(0 52 69);
    padding: 5px 40px;
    border-bottom: none;
}
.card{
    background-color: #f5fcff;
    border: none;
}
.card-header:first-child{
    border-radius: 0px;
}

@media (max-width: 576px) {
    #home,
    #aboutUs,
    #products,
    #infra,
    #contact{
        display: none;
    }

    .logo_font{
        font-size: 20px;
        letter-spacing: 11px;
    }
    .nav{
        padding: 2px;
        background: #fff;
        color: #003445;
    }

    .logo_font_container{
        justify-content: space-between;
        margin-bottom: 0px;
    }
    .header_row{
        padding: 0px 12px;
    }
    .hamberger_icon{
        display: block;
        cursor:pointer;
    }
}

@media (max-width: 786px) and (min-width: 576px) {
    #home,
    #aboutUs,
    #products,
    #infra,
    #contact{
        display: none;
    }

    .logo_font{
        font-size: 20px;
        letter-spacing: 11px;
    }
    .nav{
        padding: 2px;
        background: #fff;
        color: #003445;
    }

    .logo_font_container{
        justify-content: space-between;
        margin-bottom: 0px;
    }
    .header_row{
        padding: 0px 12px;
    }
    .hamberger_icon{
        display: block;
        cursor:pointer;
    }
}