.logo_font{
    /* color: white; */
    color: #fff;
    font-family: 'LemonMilk';
    font-size: 46px;
    /* letter-spacing: 0.52em; */
    letter-spacing: 16px;

    /* font-family: 'Lemon/Milk light', sans-serif; */
}

@media (max-width: 576px) {
    .logo_font{
        max-width: 576px;
        width: 100%;
        font-size: 20px;
        letter-spacing: 0.12em;
    }
}

@media (max-width: 786px) and (min-width: 576px) {
    .logo_font{
        color: #fff;
        max-width: 786px;
        width: 100%;
        font-size: 20px;
        letter-spacing: 0.30em;
    }
}