.logo_font{
    /* color: white; */
    color: #fff;
    font-family: 'Lemon/Milk';
    font-size: 74px;
    letter-spacing: 0.52em;
    /* font-family: 'Lemon/Milk light', sans-serif; */
}

@media (max-width: 576px) {
    .logo_font{
        max-width: 576px;
        width: 100%;
        font-size: 40px;
        letter-spacing: 0.12em;
    }
}

@media (max-width: 786px) and (min-width: 576px) {
    .logo_font{
        color: #003445;
        max-width: 786px;
        width: 100%;
        font-size: 65px;
        letter-spacing: 0.30em;
    }
}