.carouselMainContainer{
    height:560px;    
}
.carousel{
    height: 100%;

}
.slidingImage{
    display: block;
    width: 100%;
    position: relative;
    height:560px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    filter: drop-shadow(0px 16px 20px rgba(0, 0, 0, 0.1));
}
.carousel-indicators li{
    width: 20px;
    height: 20px;
    margin-right: 9px;
    margin-left: 9px;
    border-radius: 50%;
}
.carousel-indicators .active{
    background-color: #003445;
}
.carousel-caption h5{
    font-weight: 600;

     font-family: 'Inter', sans-serif;
    /* line-height: 87px; */
    /* color: #333333; */
}
.carousel-caption p{

/* line-height: 32px; */
 font-family: 'Inter', sans-serif;

/* color: #333333; */
}
.carousel-caption{
    background: #333333a1;
    bottom: 68px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
}



@media (max-width: 576px) and (min-width: 300px) {
.slidingImage{
border-radius: 8px;
height: 442px; 
background-size: auto 100%;

}
.carouselMainContainer{
    height: 442px; 
    margin: 64px 0px;
    max-width: 786px;
    width: 100%;
}
.carousel{
    /* filter: drop-shadow(0px 16px 20px rgba(0, 0, 0, 0.1)); */
    padding: 0px 12px;
}
.carousel-indicators li{
    width: 10px;
    height: 10px;
    margin-right: 5px;
    margin-left: 5px;
}
.carousel-caption h5{
    font-weight: 600;
    font-size: 30px;
    color: #333;

}
.carousel-caption p{
    font-size: 10px;
color: #333;
text-align: center;
letter-spacing: 0.08em;
    margin-bottom: 0px;
}
.carousel-inner{
    overflow: inherit;
}
.carousel-caption {
    left: 10%;
    right: 10%;

        background: #fff;
        bottom: -160px;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 15px;
    
    
}
}
@media (max-width: 992px) and (min-width: 576px) {
.carousel-caption h5{
    font-size: 36px;
}
.carousel-caption p{
    font-size: 12px;
}
}
@media (max-width: 1200px) and (min-width: 992px) {
.carousel-caption h5{
    font-size: 58px;
}
.carousel-caption p{
    font-size: 14px;
}
}
@media (min-width: 1200px) and (max-width: 1800px) {
.carousel-caption h5{
    font-size: 62px;
}
.carousel-caption p{
    font-size: 16px;
}
}