.footer{
    height: 470px;
    background: #003445;
    padding: 100px;
    position: relative;
}

.footer-container{
    /* width: 90%; */
    margin: 0 auto;
    color: #fff;
}

.logo{
    font-size: 28px;
    letter-spacing: 10px;
    color: white;
    font-family: 'Lemon/Milk';
}

.quick-link{
    color: white;
    padding-bottom: 20px;
}

ul{
    list-style-type: none;
}

li{
    font-size: 14px;
    line-height: 35px;
    color: #D9DBE1;
}

.water-mark{
    position: absolute;
    top: 0px;
    right: 0px;
}

.copy-right{
    margin-top: 30px;
    font-size: 0.8rem;
}
.iconMainCol{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
}
.iconCont{
    position: relative;
cursor: pointer;
}
.iconCont img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.termsCond{
    text-align: right;
}
.contList{
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: right;
}


@media (max-width: 1200px) and (min-width: 300px) {
    .water-mark{
        top: 12px;
        left: 50%;
        transform: translateX(-50%);
        height: 195px;
    }
    .footer{
        height: 600px;
        padding: 230px 15px 0px;
        text-align: center;
    }
    .responsiveContent{
        display: none;
    }
    .copy-right{
        color: #D9DBE1;
    }
    .quick-link{
        padding-bottom: 0px;
    }
    .iconRow{
        align-items: center;
    justify-content: center;
    }  
.termsCond{
    text-align: center;
}
.quick-link{
    margin-top: 20px;
}
.contactUList{
    margin-bottom: 0px;
}
}
@media (max-width: 1800px) and (min-width: 1200px) {
    .bgIcon{
        width: 36px;
    }
    .socialIcon{
        width: 20px;
    }  
  
}

